<!DOCTYPE html>
<html>
<head>
    <title>图片识别</title>
</head>
<body>
<form action="{% url 'txystsb:upload'  %}" method="post" enctype="multipart/form-data">
    <input type="radio" name="type" value="0">身份证识别
    <input type="radio" name="type" value="1">名片识别
    <input type="radio" name="type" value="2">驾驶证识别
    <input type="radio" name="type" value="3">车牌识别
    <input type="radio" name="type" value="4">银行卡识别
    <input type="radio" name="type" value="5">营业执照识别
    <input type="radio" name="type" value="6" checked="checked">通用印刷体识别
    <input type="radio" name="type" value="7">手写体识别
    <br>
    <input type="file" name="image" accept="image/*">
    <input type="submit">
</form>

</body>
</html>